
.button{
  /* background: rgb(255, 255, 255);
  border-radius: 999px;
  box-shadow: rgba(0,212,255,1) 0 5px 5px -5px;
  box-sizing: border-box;
  color: rgba(0,212,255,1);
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0; */
  background-color: blue;
  
};

.button:hover {
    /* background: rgba(0,212,255,1);
    box-shadow: white 0 5px 5px -5px;
    color: white; */
    background-color: black;
};