
@media only screen and (max-width: 600px){
    .grid-wrapper{
        font-size: 0.5em;
        padding: 0;
    }
}
.grid-wrapper{
    margin: 30px;
    width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
//   grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 20px;

}
