.card-item-container{
    height: 300px;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1%;
    border-color:rgb(99, 214, 208);
    box-shadow: rgb(23, 26, 27) 0 5px 5px -5px;

}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.1); 
    }

.card-item-image{
    // background-color: rgb(78, 62, 62);
    margin-top: 5%;
   margin-left: 5%;
   margin-right: 5%;
    height: 60%;
    width: 90%; 
}

.price{
    text-align: center;
    color:antiquewhite;
    background-color:rgb(99, 214, 208);
    border-style: solid;
    border-width: 0.5px;
    border-radius:5%;
    border-color: rgb(99, 214, 208);
    box-shadow: rgb(31, 41, 43) 0 5px 5px -5px;
    height: 20px;
    width: 90px; 
    float: right;
    // padding-bottom: 3px;
    // margin-left: 100px;
    margin-right: 10px;
    margin-bottom: 3px;
}