
.collection-filter-container{
  // background-color: blue;
  margin-top: 30px;
  width: 20%;
  height: 85vh;
  border-right: solid rgba(0,212,255,1);
}

.filter-heading{
    padding-top: 10px;
    text-align: center;

}

.filter{
  margin-left: 190px;
}


input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: rgba(0,212,255,1);
  border-color: MediumSeaGreen;
  color: #fff;
}